<a href="https://colab.research.google.com/github/kmeiyalagan/hashicat-gcp/blob/master/Datetime_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# datetime module

Python has the datetime module to help deal with timestamps in your code. Time values are represented with the time class. Times have attributes for hour, minute, second, and microsecond. They can also include time zone information. The arguments to initialize a time instance are optional, but the default of 0 is unlikely to be what you want.

## time
Let's take a look at how we can extract time information from the datetime module. We can create a timestamp by specifying datetime.time(hour,minute,second,microsecond)

In [4]:
import datetime

t  = datetime.time(4,20,1)

# Different Components
print(t)
print('hour: ',t.hour)
print('minutes: ',t.minute)
print('second: ',t.second)
print('microsecond: ',t.microsecond)

04:20:01
hour:  4
minutes:  20
second:  1
microsecond:  0

Note: A time instance only holds values of time, and not a date associated with the time. 

We can also check the min and max values a time of day can have in the module:

In [5]:
print('min :',datetime.time.min)
print('max :',datetime.time.max)
print('resolution :',datetime.time.resolution)

min : 00:00:00
max : 23:59:59.999999
resolution : 0:00:00.000001

The min and max class attributes reflect the valid range of times in a single day.

## Dates
datetime (as you might suspect) also allows us to work with date timestamps. Calendar date values are represented with the date class. Instances have attributes for year, month, and day. It is easy to create a date representing todayâ€™s date using the today() class method.

Let's see some examples:

In [6]:
today = datetime.date.today()
print(today)
print(today.ctime())
print(today.timetuple())

2022-04-02
Sat Apr  2 00:00:00 2022
time.struct_time(tm_year=2022, tm_mon=4, tm_mday=2, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=92, tm_isdst=-1)

In [ ]:
today.year

2022

In [ ]:
today.month

4

In [ ]:
today.day

2

In [ ]:
today.weekday

As with time, the range of date values supported can be determined using the min and max attributes.

In [ ]:
print('min :',datetime.date.min)
print('max :',datetime.date.max)
print('resolution :',datetime.date.resolution)

min : 0001-01-01
max : 9999-12-31
resolution : 1 day, 0:00:00

Another way to create new date instances uses the replace() method of an existing date. For example, you can change the year, leaving the day and month alone.

In [ ]:
d1 = datetime.date(2015,3,11)
print('d1: ',d1)

d2 = d1.replace(year = 1990)
print('d2: ',d2)

d1:  2015-03-11
d2:  1990-03-11

# Arithmetic
We can perform arithmetic on date objects to check for time differences. For example:

In [ ]:
d1

datetime.date(2015, 3, 11)

In [ ]:
d2

datetime.date(1990, 3, 11)

In [ ]:
d1-d2

datetime.timedelta(days=9131)

This gives us the difference in days between the two dates. You can use the timedelta method to specify various units of times (days, minutes, hours, etc.)